@font-face {
  font-family: SanFranciscoDisplay;
  font-weight: bold;
  src: url("./SanFranciscoDisplay-Bold.otf") format("opentype");
  src: url("./SanFranciscoDisplay-Bold.woff") format("woff");
  src: url("./SanFranciscoDisplay-Bold.woff2") format("woff2");
}

@font-face {
  font-family: SanFranciscoText;
  font-weight: normal;
  src: url("./SanFranciscoText-Medium.otf") format("opentype");
  src: url("./SanFranciscoText-Medium.woff") format("woff");
  src: url("./SanFranciscoText-Medium.woff2") format("woff2");
}

body {
  margin: 0 auto;
  background-color: #f2f2f2;
}

.video-container {
  margin-top: 10vh;
  height: 80vh;
  width: auto;
  display: flex;
}

.video-left {
  width: 50%; 
  height: 100%; 
  /*margin-right: 10%;
  margin-left: 10%;
  padding-top:5%;*/
  position: relative;
  display: inline;
}

.video-right {
  width: 50%; 
  height: 100%; 
  /*margin-right: 10%;
  margin-left: 10%;
  padding-top:5%;*/
  position: relative;
  display: inline;
}

.video-left video {
  position: absolute;
  /*margin: 0 auto;*/
  height: 70%;
  transform: translate(-50%,0);
  left: 50%;
  top: 15%;
}
.video-right video {
  position: absolute;
  /*margin: 0 auto;*/
  height: 70%;
  transform: translate(-50%,0);
  left: 50%;
  top: 15%;
}
.video-left img {
  position: relative;
  height: 100%;
  transform: translate(-50%,0);
  left: 50%;
}

.video-right img {
  position: relative;
  height: 100%;
  transform: translate(-50%,0);
  left: 50%;
}

#start-button-container {
  display:none;
}


.slide-icons {
  display: none;
}

.info-desktop {
  text-align: center;
  font-family: "SanFranciscoText", sans-serif;
  padding: 20px;
}

#no-icon {
}

#phone-icon {
}

#touch-detector {
}

@media only screen and (max-width:700px) {
  body {
    fill:black;
  }
  #video-container{
    width: 100%;
    height: auto;
    margin: 0;
  }
  #video-left {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
    padding-top: 0;
  }
  #video-right {
    display: none;
  }


  .unfocus {
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(10px);
  }

  #start-button {
    width: 50px;
    height: auto;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  #start-button-container {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px; /*half the height of the button*/
  }

  #info-box {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    height: 65%;
    margin-left: 5%;
    margin-top: 5%;
    opacity: 0;
    transition-duration: .1s;
    transition-property: opacity;
    transition-timing-function: linear;
  }

  #grey-border {
    display: flex;
    /*overflow: hidden;*/
    width: 100%;
    height: 12%;
    background-color: #F7F7F7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid #D1D1D1;
  }

  #close-icon {
    /*position: absolute;*/
    height: 20px;
    margin-top: 15px;
  }

  #grey-border p {
    /*margin-top: 5%;*/
    /*margin-left: 10%;*/
    width: 90%;
    /*position: absolute;*/
    text-align: center;
    vertical-align: middle;
    font-family: "SanFranciscoDisplay", sans-serif;
    font-weight: bold;
  }

  .slide-icons {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
  }

  .video-left img {
    display: none;
  }

  .video-right img{
    display: none;
  }

  .info-desktop{
    display: none;
  }

  .video-left video {
    transform: none;
    left: 0;
    right: 0;
    top: 0;
  }

  .video-left {
    height: 100%;
    width: 100%;
  }

  .video-right {
    display: none;
  }

  .video-container {
    margin: 0 auto;
  }

}

.messages-wrapper {
  padding-top: 10px;
  position: relative;
  /*border: 1px solid #ddd;
  border-top: 0 none;*/
  height: 100%;
}

.message {
    font-family: "SanFranciscoText", sans-serif;
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    z-index: 102;
}

#message-url {
  display: none;
}

.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 80px;
}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}
.message:before {
    border-color: #2095FE;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: 1;
}
.message.from:before {
    border-color: #E5E4E9;
    left: -50px;
    transform: rotateY(180deg);
}