body {
  margin: 0;
}

.video-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#video-left {
  width: 30%; 
  height: auto; 
  float: left; 
  margin-right: 10%;
  margin-left: 10%;
  padding-top:5%;
}

#video-right {
  width: 30%; 
  height: auto; 
  margin-left: 10%;
  float: left; 
  padding-top:5%;
}

#volume-text {
  display:none;
}

@media only screen and (max-width:769px) {
  body {
    fill:black;
  }
  #video-container{
    width: 100%;
    height: auto;
    margin: 0;
  }
  #video-left {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: auto;
    float: none;
    padding-top: 0;
  }
  #video-right {
    display: none;
  }

  #volume-text {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  #volume-text button {
    text-align: center;
  }

  .unfocus {
    -webkit-filter: blur(5px); /* Safari */
    filter: blur(10px);
  }

  #start-button {
    width: 100%;
    height: 100%;
  }
}