.video-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#video-left {
  width: 30%; 
  height: 100%; 
  float: left; 
  margin-right: 10%;
  margin-left: 10%;
}

#video-right {
  width: 30%; 
  height: 100%; 
  margin-left: 10%;
  float: left; 
}